<html th:replace="~{student/studentbase::layout(~{::section})}">
<head>
</head>

<body>
	<section>
		<!-- Page-header start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-8">
						<div class="page-header-title">
							<h5 class="m-b-10">Change your Password</h5>
							<p class="m-b-0">Welcome to Softpro India</p>
						</div>
					</div>
					<div class="col-md-4">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="stdhome"> <i
									class="fa fa-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#">Change
									Password</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Page-header end -->
		<!-- Main Section Started -->
		<div class="pcoded-inner-content">
			<div class="page-body pt-3">
				<div class="col-md-8 mx-auto">
					<div class="card">
						<div class="card-header">
							<h5>Change Your Password</h5>
							<!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
						</div>
						<div class="card-block">
							<form class="form-material" method="post">
								<div class="form-group form-default">
									<input type="password" name="oldpass" class="form-control"
										required=""> <span class="form-bar"></span> <label
										class="float-label">Old Password</label>
								</div>
								<div class="form-group form-default">
									<input type="password" name="newpass" class="form-control"
										required=""> <span class="form-bar"></span> <label
										class="float-label">New Password</label>
								</div>
								<div class="form-group form-default">
									<input type="password" name="confirmpass" class="form-control"
										required=""> <span class="form-bar"></span> <label
										class="float-label">Confirm Password</label>
								</div>



								<div class="form-group form-default text-center pt-2">
									<button type="submit" class="btn btn-danger">Change
										Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>