<html th:replace="~{student/studentbase::layout(~{::section})}">
<head>
</head>

<body>
	<section>
		<!-- Page-header start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-8">
						<div class="page-header-title">
							<h5 class="m-b-10">Course Catalogue</h5>
							<p class="m-b-0">Welcome to Ambalika Institute of Management and Technology,Lucknow</p>
						</div>
					</div>
					<div class="col-md-4">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="stdhome"> <i
									class="fa fa-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="courses">Course Catalogue</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Page-header end -->
		<!-- Main Section Started -->
		<div class="pcoded-inner-content h-75 bg-white" style="display: flex; justify-content: center;align-items: center;">
			<h1>Course Catalogue Coming Soon...</h1>					
		</div>
	</section>
</body>
</html>