<!doctype html>
<html lang="en" th:replace="~{admin/adminbase::layout(~{::section})}">

<head>
</head>

<body>
	<section>
		<!-- Page-header start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-8">
						<div class="page-header-title">
							<h5 class="m-b-10">Question Bank</h5>
							<p class="m-b-0">Welcome to Ambalika Institute of Management and Technology,Lucknow</p>
						</div>
					</div>
					<div class="col-md-4">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="adhome"> <i
									class="fa fa-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Questions</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Page-header end -->
		<div class="pcoded-inner-content">

			<!-- Hover table card start -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-sm-9">
							<h4 class="fw-bold">Question Bank Data</h4>
							 <span>Manage All <code>Questions</code>, Available in
								Question Bank
							</span>

						</div>

						<div class="col-sm-3">
							<b class="d-flex"
								style="justify-content: center; align-items: center;"><span
								class="mx-2">No. of Questions : </span> <span th:text="${questioncount}"
								class="text-primary"></span></b>
						</div>
					</div>


					<div class="card-header-right">
						<ul class="list-unstyled card-option">
							<li><i class="fa fa fa-wrench open-card-option"></i></li>
							<li><i class="fa fa-window-maximize full-card"></i></li>
							<li><i class="fa fa-minus minimize-card"></i></li>
							<li><i class="fa fa-refresh reload-card"></i></li>
							<li><i class="fa fa-trash close-card"></i></li>
						</ul>
					</div>
				</div>
				<div class="card-block table-border-style">
					<div class="table-responsive">
						<table id="example" class="table table-hover">
							<thead>
								<tr>
									<th>Sr. No.</th>
									<th>Test Name</th>
									<th>Year</th>
									<th>Question</th>
									<th>Option A</th>
									<th>Option B</th>
									<th>Option C</th>
									<th>Option D</th>
									<th>Correct Option</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="q, srno:${qblist}">
									<td class="text-center" th:text="${srno.index + 1}" scope="row">1</td>
									<td th:text="${q.testname}"></td>
									<td class="text-center" th:text="${q.year}"></td>
									<td th:text="${q.question}"></td>
									<td th:text="${q.a}"></td>
									<td th:text="${q.b}"></td>
									<td th:text="${q.c}"></td>
									<td th:text="${q.d}"></td>
									<td class="text-center" th:text="${q.correct}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Hover table card end -->
		</div>
	</section>
</body>

</html>