<html th:replace="~{base::layout(~{::section})}">
<head>
</head>

<body>
	<section>
		<div class="row">
			<div class="col-sm-12 p-0">
				<div class="container">

					<div class="row main mb-5">
						<div th:if="${msg}">
							<input type="hidden" id="msg" th:value="${msg}">
						</div>

						<div class="col-sm-3"></div>
						<div class="col-sm-6 px-5 login-outer">
							<h4 class="text-center"
								style="font-family: 'Revue BT', sans-serif;"> Admin
								Login</h4>
							<form class="user" th:object="${dto}" method="post"
								accept-charset="utf-8">

								<input type="hidden" name="csrf_token"> 
								<input type="text" th:field="${dto.userid}" placeholder="Enter User Id" class="form-control"> <br>
									
								<div style="position: relative;">
									<input type="password" id="password" th:field="${dto.password}"  required placeholder="Enter Password" class="form-control">
									<button type="button" id="togglePassword"
										style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer; font-size: 20px;">
										<i class="fa-solid fa-eye"></i></button>
								</div>
								
								<br> <input type="submit" class="form-control" value="Login"><br>

							</form>
							<p>
								<!-- <a href="#">Forgot Password?</a><br> -->
								<a href="/" style="font-size: 14px; font-weight: 200 !important; color: #333;">
									Back To Home Page
								</a>
							</p>
						</div>
						<div class="col-sm-3"></div>

					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>