<html  th:replace="~{base::layout(~{::section})}">
<head>
</head>

<body>
	<section>
		<div class="row main">
			<div class="col-md-8 p-0">
				<h3 style="font-family: 'Revue BT', sans-serif;">AIMT ONLINE
					TEST PORTAL</h3>
				<h6 style="font-weight: 900;">Ambalika Institute Of Management And Technology Campus, Lucknow, Uttar Pradesh</h6>
				<p class="param">
					Ambalika Institute of Management and Technology (AIMT), established in 2008, is a private engineering and management college located in Mohanlalganj, Lucknow, Uttar Pradesh, India. The institute is affiliated with Dr. A.P.J. Abdul Kalam Technical University (AKTU) and the Board of Technical Education (BTE), and it is approved by the All India Council for Technical Education (AICTE). The campus spans 200 acres of lush green surroundings near NH-56B, approximately 24 kilometers from Lucknow Railway Station and 20 kilometers from Amausi Airport. ​
					Lucknow Engineering
					Accreditations and Approvals: AIMT's Computer Science and Engineering and Mechanical Engineering programs have received accreditation from the National Board of Accreditation (NBA), making it the first institute in Lucknow to achieve this distinction. ​
					Lucknow Engineering & MBA College
					Bachelor of Technology (B.Tech): Specializations in Computer Science and Engineering, Mechanical Engineering, Civil Engineering, Electronics and Communication Engineering, and Information Technology. ​
					Shiksha
					+2
					Telegraph India
					+2
					Lucknow Engineering & MBA College
					+2

					Master of Business Administration (MBA): A two-year program accepting scores from exams such as CAT, MAT, and UPCET. ​
					Careers360
					+1
					Top Colleges and Universities in India
					+1

					Bachelor of Business Administration (BBA): A three-year undergraduate program. ​
					Telegraph India

					Bachelor of Computer Applications (BCA): A three-year undergraduate program.
				</p>
			</div>


			<div class="col-md-4 text-center pt-1 mt-0 pt-md-5 mt-md-3 pt-lg-5">
				<div class="row btnrow mt-3">
					<div class="col-md-12 col-sm-6 btncol">
						<a href="adminlogin" class="btn btn1">ADMIN LOGIN</a>
					</div>
					<div class="col-md-12 col-sm-6 btncol">
						<a href="studentlogin" class="btn btn1">STUDENT LOGIN</a>
					</div>
				</div>
			</div>

		</div>

		<!--<div class="row pb-3">
			<h5 style="font-weight: 900;">QUICK LINKS</h5>
			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="#" target="_blank">
					<div class="col-sm-12">
						<p class="para1">AIMT</p>
					</div>
				</a>
			</div>


			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="#" target="_blank">
					<div class="col-sm-12">
						<p class="para1">AIMT</p>
					</div>
				</a>
			</div>

			<div class="col-sm-4 my-3 my-sm-0 pb-0 card">
				<a href="#" target="_blank">
					<div class="col-sm-12">
						<p class="para1">AIMT</p>
					</div>
				</a>
			</div>
		</div>-->

	</section>
</body>
</html>